<!doctype html>
<html lang='en'>
<head>
  <title>One Rep Max</title>
  <meta charset='utf-8'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>
<body ng-app="ng-orm" ng-controller="MainCtrl">
  <label>
    Weight
    <input ng-model="weight" />
  </label>

  <label>
    Reps
    <input ng-model="reps" />
  </label>
  <button ng-click="calculate()">Calculate ORM</button>  
  <button ng-click="reset()">Reset</button>  
  <h2>Result: {{ result }} </h2>

  <!-- Angular module -->
  <script src="app.js"></script>
</body>
</html>
